# 데이터로딩

In [1]:
import numpy as np
import pandas as pd

In [2]:
anime = pd.read_excel('anime1.xlsx')
animelist = pd.read_csv('animelist.csv')

# 컬럼명 변경

In [3]:
anime.rename(columns = {'MAL_ID':'anime_id'},inplace=True)

# 데이터프레임 병합

In [4]:
ani = pd.merge(animelist,anime)

In [5]:
#pivot_table을 이용해 유저의 애니메이션 평점을 담은 데이터프레임을 만든다.(title_user)
title_user = ani.pivot_table('rating', index='user_id', columns='Name')
title_user.fillna(0, inplace=True)
title_user

Name,2,9,86,123,1989,2010,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu","""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi","""Bungaku Shoujo"" Memoire","""Bungaku Shoujo"" Movie",...,s.CRY.ed,s.CRY.ed Alteration I: Tao,s.CRY.ed Alteration II: Quan,the FLY BanD!,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,휆lDLIVE
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,9.0,0.0,0.0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3578,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,9.0,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,7.0
3579,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

# 유저와 유저 간의 유사도
user_based_collab = cosine_similarity(title_user, title_user)
user_based_collab = pd.DataFrame(user_based_collab, index=title_user.index, columns=title_user.index)
user_based_collab[1995].sort_values(ascending=False)[:10]

user_id
1995    1.000000
1372    0.372995
1672    0.321646
344     0.289237
2822    0.278741
2863    0.274852
1468    0.265303
3029    0.262976
1821    0.262976
2124    0.262976
Name: 1995, dtype: float64

In [7]:
user_based_collab

user_id,0,1,2,3,4,5,6,7,8,9,...,3569,3570,3571,3572,3574,3575,3576,3577,3578,3579
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.066355,0.056571,0.016356,0.085280,0.101315,0.114368,0.037252,0.050457,0.0,...,0.010458,0.046557,0.032001,0.109897,0.114803,0.000000,0.056398,0.000000,0.075606,0.053232
1,0.066355,1.000000,0.240727,0.166585,0.036105,0.045793,0.056409,0.118113,0.073099,0.0,...,0.267881,0.220704,0.303240,0.149944,0.168239,0.050577,0.438649,0.187782,0.109888,0.094941
2,0.056571,0.240727,1.000000,0.139373,0.076716,0.038531,0.066960,0.079482,0.026865,0.0,...,0.170402,0.261773,0.268070,0.131806,0.271598,0.000000,0.299280,0.156813,0.098481,0.050244
3,0.016356,0.166585,0.139373,1.000000,0.069895,0.070036,0.102063,0.239812,0.108269,0.0,...,0.127164,0.211375,0.265389,0.089990,0.044677,0.084183,0.253289,0.192310,0.304449,0.124101
4,0.085280,0.036105,0.076716,0.069895,1.000000,0.056388,0.096462,0.039429,0.022197,0.0,...,0.030123,0.017127,0.046705,0.066677,0.127319,0.052168,0.040636,0.000000,0.170602,0.044604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3575,0.000000,0.050577,0.000000,0.084183,0.052168,0.078991,0.000000,0.051973,0.000000,0.0,...,0.051979,0.000000,0.055809,0.000000,0.000000,1.000000,0.038333,0.000000,0.031638,0.000000
3576,0.056398,0.438649,0.299280,0.253289,0.040636,0.054059,0.073604,0.194545,0.062911,0.0,...,0.265958,0.276422,0.303123,0.174922,0.236115,0.038333,1.000000,0.154551,0.184554,0.145192
3577,0.000000,0.187782,0.156813,0.192310,0.000000,0.000000,0.015547,0.033003,0.029360,0.0,...,0.133005,0.135924,0.177666,0.041546,0.000000,0.000000,0.154551,1.000000,0.141426,0.040548
3578,0.075606,0.109888,0.098481,0.304449,0.170602,0.086698,0.169052,0.196313,0.068852,0.0,...,0.082907,0.156601,0.152104,0.136732,0.066987,0.031638,0.184554,0.141426,1.000000,0.103795
3579,0.053232,0.094941,0.050244,0.124101,0.044604,0.050347,0.054616,0.079306,0.135675,0.0,...,0.072725,0.168671,0.150896,0.107859,0.038961,0.000000,0.145192,0.040548,0.103795,1.000000

In [8]:
# 가장 유사한 유저를 뽑아서 해당 유저가 본 영화 추천
user = user_based_collab[1995].sort_values(ascending=False)[:].index[1]
result = title_user.loc[user].sort_values(ascending=False).head()
print(user)
df_r = result.to_frame()
df_r

1372

                    1372
Name
Tonari no Totoro    10.0
Ao Haru Ride OVA    10.0
Junjou Romantica 3  10.0
Junjou Romantica 2  10.0
Junjou Romantica    10.0